body {
    font-size: 18px;
    max-width: 950px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Slabo 27px', serif;
}

h1 {
    text-align: center;
    font-family: 'Nova Mono', monospace;
}

h2 {
    justify-self: stretch;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    padding: 1rem;
    margin: 0;
}

h2.fitts {
    background: dodgerblue;
}

h2.whiteSpace {
    background: firebrick;
}

h2.repetition {
    background: darkseagreen;
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

a {
    padding-bottom: 1rem;
    font-family: 'Nova Mono', monospace;
}

img {
    width: 300px;
    border: 1px solid black;
}

content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}

section {
    border: 1px dashed black;
    padding: .5rem;
}

