@media only screen and (min-width: 550px) {
    
    img.shawna {
        float: right;
    }

.tours {
    display: flex;
    flex-direction: column;
}

.tours img {
    padding: 2%;
    margin: 0;
}

.ruins {
    width: 400px;
}
    
    header h1 {
        font-size: 80px;
    }

    table thead tr th {
        font-size: xx-large;
    }

    table tbody tr th {
        font-size: large;
        padding: 5px;
}

.header2 .res {
    padding-right: 25px;
}

}