* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #8cfffe;
}

/*------------------Header---------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8cfffe;
    color: #ff825c;
    border-bottom: 1px solid #ff825c;
    padding: 2%;
    margin: 0;
}

header img {
    width: 80px;
}

.header {
    padding-left: 2%;
    display: flex;
    flex-flow: column nowrap;
    white-space: nowrap;
}

.header h1 {
    margin: 0;
    font-family: 'Passero One', cursive;

}
.header p {
    max-width: 100%;
    margin: 0;
}