/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3d3b8e+0,7db9e8+100 */
background: #3d3b8e; /* Old browsers */
background: -moz-linear-gradient(top,  #3d3b8e 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3d3b8e 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3d3b8e 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3b8e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }

header img {
    width: 150px;
}

nav button {
    display: none;
}
nav ul.hide {
    display: block;
}
 #primaryNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
 }

}