/* 35em is also 560px when base fornt is 16px */
@media only screen and (min-width: 35em) {

body {
    margin: auto;
    }

h2 {
    font-size: 2.5rem;
}

header {
    padding-bottom: .5rem;
}

.summary {
    width: 280px;
}

.forecast {
    display: block;
}

article img {
    float: right;
}

.gallery {
    grid-template-columns: 1fr 1fr;
}
.address {
    display: grid;
    grid-template-columns: 1fr 5% 1fr;
    }
    
    #companyname {
        grid-area: 1/3/2/4;
        margin: 0;
        place-self: end start;
    }
    
    #add {
        grid-area: 2/3/3/4;
        place-self: center start;
        margin: 0;
    }
    
    #phone {
        grid-area: 3/3/4/4;
        place-self: start;
        margin: 0;
    }
    
    #map {
        grid-area: 1/1/4/2;
        justify-self: end;
    }

/*-----------------------------home------------------------*/
    .cards {
        display: flex;
        flex-direction: column;
    }

    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name img"
        "motto img"
        "year img"
        "pop img"
        "rain img";
    }
  
    .cards section:nth-of-type(2) :nth-child(1) {
       grid-area: 1/2/2/3;
    }

    .cards section:nth-of-type(2) :nth-child(2) {
        grid-area: 2/2/3/3;
    }

    .cards section:nth-of-type(2) :nth-child(3) {
        grid-area: 1/1/6/2;
    }

    .cards section:nth-of-type(2) :nth-child(4) {
        grid-area: 3/2/4/3;
    }

    .cards section:nth-of-type(2) :nth-child(5) {
        grid-area: 4/2/5/3;
    }
    
    .cards section:nth-of-type(2) :nth-child(6) {
        grid-area: 5/2/6/3;
    }
    section :nth-child(1) {
        grid-area: name;
    }

    section :nth-child(2) {
        grid-area: motto;
        text-align: left;
    }

    section :nth-child(3) {
        grid-area: img;
    }

    section :nth-child(4) {
        grid-area: year;
    }

    section :nth-child(5) {
        grid-area: pop;
    }

    section :nth-child(6) {
        grid-area: rain;
    }
}