* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #c7e4fc;
}

#banner {
    font-size: x-large;
    background-color: #50c9ce;
    text-align: center;
    margin: auto;
    padding: 2rem;
    font-variant: small-caps;
    font-weight: bolder;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3D3B8E;
    color: white;
    border-bottom: 1px solid #50c9ce;
    padding: 2%;
    margin: 0;
}

header img {
    width: 80px;
}

.header {
    padding-left: 2%;
    display: flex;
    flex-flow: column nowrap;
    white-space: nowrap;
}

.header h1 {
    margin: 0;
}
.header p {
    max-width: 100%;
    margin: 0;
}

/*Nav*/
nav {
    background-color: #3D3B8E;
    text-align: center;
    border-bottom: 1px solid #50c9ce;
}

nav ul {
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    display: block;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: white;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
    color: #50c9ce;
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .4);
}

nav ul.hide {
    display: none;
}

/*--------------------Main-----------------------------------*/
main {
    max-width: 950px;
    margin: auto;
    padding: 10px;
}

h2 {
    color: white;
    background-color: #3D3B8E;
    padding: .5rem;
    text-align: center;
    border-bottom: 1rem solid #50c9ce;
    font-variant: small-caps;
    max-width: 50%;
    border-radius: 80% 0% 80% 0%;
}

h3 {
    align-content: center;
    border-bottom: 1px solid #50c9ce;
    font-size: 2rem;
}

/*--------------------------------hero div-----------------------*/
.hero {
    position: relative;
}

.heroimg {
    width: 100%;
}

.summary {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: #50c9ce;
    opacity: .7;
    padding: 2%;
    border: .5rem outset #bbe0ff;
}

.summary h3, .summary p {
    line-height: 2rem;
    margin: 0;
    font-weight: bold;
}

.summary h3 {
    font-size: 1.5rem;
}

/*5 Day Forecast Div*/
.forecast {
    display: none;
}

.forecastdays {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 8rem;

}

.days  {
    text-align: center;
    border: 1px solid black;
    width: 100%;
}

.days img {
    width: 100%;
}

/*Article Div*/
.article {
    padding: 2%;
    text-align: justify;
}

.articleimg {
    display: block;
    margin: auto;
}

/*contact info*/
.address {
    padding: 2%;
    background-color: #50c9ce;
    text-align: center;
}

/*Footer*/
footer {
    max-width: 950px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1rem solid #50c9ce;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #3d3b8e;
    color: white;
}

footer a {
    color: white;
}

/*gallery main*/
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.gallery figure, img {
    margin: 0;    
    padding: 2%;
    width: 100%;
}


/*lazy load*/
img[data-src] {
    filter: blur(.2em);
}

img {
    filter: blur(0em);
    transition: filter 1.5s;
}