body {
    text-align: center;
   }

table {
    background-color: #e7f0ed;
    font-family:  "Ubuntu", sans-serif;
    box-shadow: 10px 8px 10px #628ca6;
    margin-left: auto;
    margin-right: auto;
    }

table thead tr th{
   background-color: #7fb9c2;
    font-size: x-large;
    font-weight: 900;
    color: black;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

table tr th {
    background-color: #628ca6;
    color: white;
} 

table, thead, tfoot, th, tr, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: .5rem;
}

table tfoot tr td{
    font-size: x-small;
    background-color: #7fb9c2;
}

#high {
    background-color: #628ca6;
    color: white;
}



