/* 35em is also 560px when base fornt is 16px */
@media only screen and (min-width: 35em) {

    body {
        margin: auto;
    }

    h2 {
    font-size: 2.5rem;
}

header {
    padding-bottom: .5rem;
}

.summary {
    width: 280px;
}

.forecast {
    display: block;
}

.articleimg {
    float: right;
    padding: 2%;
}


}