@media only screen and (min-width: 680px) {
    nav ul {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        justify-content: space-evenly;
        border: 1rem outset #454491;
        border-radius: 1rem;
    }

    img {
        float: left;
    }
    
    #logo {
        display: inline-block;
    }

}