@media only screen and (min-width: 680px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        float: left;
    }
    
    #logo {
        display: inline-block;
    }

}